
h1  {
    text-align: center;
}
h1 { animation: pulse 2s infinite; }
@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.2); }
}
ul {
    list-style: square;
    column-rule-color: black;
    color: blue;
 }